<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylish.css">
    <title>Main Folder</title>
</head>
<body class="main_body_window">
    <div class="name_company">
        <img class="logo_main_window" src="../static/images/main_logo.png" >
        <br>
        <p class="main_name">Uni-Journal</p> 

        <p class="main_abreviatur">‘Your information is only in your hands’</p>
    </div>



    <a class="enter_acc_href" href="/logining">Вхід</a>
    <a class="regist_acc_href" href="/registration">Реєстрація</a>
    <!-- <p class="contac_main_window_MTC">+38095-XXX-XXXX</p>
    <p class="contac_main_window_LIFE">+38093-XXX-XXXX</p>
    <p class="contac_main_window_Kyevstar">+38068-XXX-XXXX</p> -->
    <div class="informatio">

        <p>
            Наш сайт призначений для вчителів, які проводять додаткові заняття. Ми розробили цю платформу, щоб спростити та оптимізувати процес навчання та взаємодії з учнями. На нашому сайті ви зможете зареєструватися та увійти в особистий обліковий запис. Після цього ви можете додати предмет, який ви викладаєте додатково.
            <br>
            Ми створили цей веб-сайт, щоб полегшити процес взаємодії зі студентами і відстеження їх прогресу. Ми сподіваємося, що наша платформа буде корисною для вчителів, які проводять додаткові заняття, і допоможе їм ефективніше навчати своїх учнів.        
        </p>
    </div>

    
</body>
</html>

