<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylish.css">
    <title>Delete Subject</title>
</head>
<body class="ALL_BACK_GROUND">
    

    <div class="square_for_delete_stud">
        <br><br><br><br><br>
        <a  href="/window_change_subject_show?id_sub={{theid_subject}}&name_subj={{thename_subject}}"><input class="style_buttom_stud" type="submit" value="Редагування"></a>
        <a  href="/window_delete_subject_show?id_sub={{theid_subject}}&name_subj={{thename_subject}}"><input class="style_buttom_stud" type="submit" value="Видалення"></a>
    </div>




    <script src="static/my_javascript.js"></script>

</body>
</html>
